@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Signika&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}

body {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/photo-1541462608143-67571c6738dd.avif);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;

}

.header-img {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.header-img img {
    width: 300px;
    opacity: 1;

}

.registration-para {
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.registration-para h2 {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 20px !important;
}

.portal {
    text-align: center;
    padding-right: 20px;
}

.portal span {
    border: 1px solid #0D6DBB;
    border-radius: 25px;
    padding: 8px 15px;
    color: #0D6DBB;
}

.services p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px !important;


}

.services {
    text-align: center;
    padding-top: 10px;
}

.tab {
    display: flex;
    justify-content: center;
    gap: 2px;
    border-bottom: 1px solid #fafafa;
    font-size: 15px !important;
    color: #0D6DBB;
    margin-top: 10px;
}

.tab span {
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid rgba(0, 0, 1, 0.2);
    cursor: pointer !important;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* Adjust as needed */
    margin: auto;
}

.input {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.input-left,
.input-right {
    width: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 25px 10px;
    box-sizing: border-box;
    border: 1px solid #97C84A;
    border-radius: 5px;

}

input:focus,
select:focus,
input:active,
select:active {
    border: 1px solid #0D6DBB;
}

.address {
    width: 100%;
}

.address span {
    border: 1px dashed #F0F0F0;
    width: 135px;
    height: 135px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    position: relative;
}

.address span:hover {
    border-color: #0D6DBB;
}

label {
    color: #0D6DBB;
}

ul,
li {
    list-style-type: none;
    color: #262626;
    margin-bottom: 8px;
}

.list {
    width: 100%;
    padding-top: 20px;
}

.picture {
    width: 130px;
}

.picture span img {
    width: 100%;
    position: absolute;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #0D6DBB;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button {
    padding: 0px 10px;
}

input::placeholder,
select::placeholder {
    font-size: 15px;


}

.result,
.id-card {
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

/* .uper-box{
    clip-path: polygon(25% 5%, 41% 3%, 65% 1%, 47% 6%, 35% 9%, 25% 11%, 6% 15%, 0 17%, 0 8%);
    width: 100%;
    height: 200px;
    background-color: #8EC34A;
    position: absolute;
} */

.idCard {

    border: 1px solid;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    display: none;
}
.heading{
    position: relative;
}
.heading::before {
    background-color: red;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    
}

.logo {
    width: 160px !important;
    border: none !important;
}

#studentImg {
    border: 5px solid #97C84A;
    width: 100px;
    height: 100px;
    border-radius: 4px;

}

.clip-bottom {
    clip-path: polygon(0 91%, 17% 100%, 45% 95%, 71% 90%, 97% 85%, 100% 100%, 31% 100%, 0 100%, 0 100%);
    width: 100%;
    position: absolute;
    background: #97C84A;
    bottom: 0;
    height: 280px;
}

.inner-btm {
    clip-path: polygon(1% 100%, 16% 98%, 42% 95%, 68% 92%, 93% 88%, 100% 100%, 31% 100%, 0 100%, 0 100%);
    height: 250px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #0D6DBB;
}

.clip-box {
    clip-path: polygon(50% 0%, 100% 1%, 100% 17%, 73% 17%, 51% 18%, 37% 22%, 18% 30%, 0 39%, 0 0);
    position: absolute;
    height: 100px;
    background: #0D6DBB;
    width: 100%;
    top: 0;
}

.card-item {
    flex-direction: column;
}


@media screen and (max-width:768px) {

    .input-left,
    .input-right {
        width: 100%;
    }

    .input {
        flex-wrap: wrap;
    }

    .picture-input {
        flex-wrap: nowrap;
    }

    .id-card input {
        width: 100%;
    }
}